<div class="divIndice">
<h3 class="rowTexto" style ="color: rgb(98, 146, 25)">Ingresos.</h3>
<div class="rowStyle">
  <div class="card">
    <div class="cardHeaderImage">
      <a routerLink="/IngresosPorEconomico">
        <img class="img" src="assets/img/Ingresos.png" />
      </a>
    </div>
    <!-- <div><h4 class="card-title">Información por económico.</h4></div> -->
  </div>
</div>
  <h3 class="rowTexto" style = "color: red">Gastos.</h3>
  <div class="rowStyle" style= "padding-bottom: 60px">
  <div class="card">
  <div class="cardHeaderImage">
    <a routerLink="/GastosPorCapitulo">
      <img class="img" src="assets/img/Capitulo.png" />
    </a>
  </div>
</div>
  <!-- <h4 class="card-title">Información por capitulo.</h4> -->
</div>
  <div class="rowStyle">
    <div class="card">
      <div class="cardHeaderImage">
        <a routerLink="/GastosPorOrganico">
          <img class="img" src="assets/img/PorOrganico.png" />
        </a>
      </div>
      <!-- <h4 class="card-title">Información por orgánico.</h4> -->
    </div>

    <div class="card">
      <div class="cardHeaderImage">
        <a routerLink="/GastosPorPrograma">
          <img class="img" src="assets/img/PorPrograma.png" />
        </a>
      </div>
      <!-- <h4 class="card-title">Información por programa.</h4> -->
    </div>

    <div class="card">
      <div class="cardHeaderImage">
        <a routerLink="/GastosPorEconomico">
          <img class="img" src="assets/img/PorEconomico.png" />
        </a>
      </div>
      <!-- <h4 class="card-title">Información por económico.</h4> -->
    </div>
  </div>
</div>

